@media (min-width: 1600px) {
    .login-tab-group.mat-mdc-tab-group {
        width: 420px;

        .mat-mdc-tab {
            min-width: 137px;
            width: 200px;
        }

        &.public {
            .mat-mdc-tab {
                min-width: 200px;
            }
        }
    }

    .login-title {
        font-size: 40px;
    }

    .logo-width {
        width: 1000px;
    }
}
