$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Euclid", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$theme-max-width: 1600px;
$main-toolbar-height: 100px;
$main-padding: 16px; 
$main-sidenav-width: 290px;
$main-sidenav-small-width: 70px;
$main-sidenav-footer-height: 40px;
$main-sidenav-header-height: 46px;
$border-radius: 0px; 
